{% extends "core/base.html.twig" %}

{% block content %}
    <div class="thin">
        <div class="head"><h2>{{ http_status }} {{ message|raw }}</h2></div>
        {% if description %}
        <div class="box pad" style="margin-top: 20px;">
            {{ description|raw }}
        </div>
        {% endif %}
    </div>
{% endblock %}
