{% if user.ID == 0 %}
    System
{% endif %}

{% if user.Username == '' %}
    Unknown [{{ user.ID }}];
{% endif %}

{% if drawInBox %}
    <span class="user_name">
{% endif %}

<a href="user.php?id={{ user.ID }}">
{% if Colorname %}
    <span style="color:#{{ class.Color }}">{{ user.Username }}</span>
{% else %}
  {{ user.Username }}
{% endif %}
</a>

{% if dropDown and ActiveUser.ID != user.ID %}
    <div id="user_dropDown"><ul>
        <li><a href="user.php?id={{ user.ID }}" title="View {{ user.Username }}'s  profile">View profile</a></li>
        {% if check_perms('users_mod') %}
            <li><a href="staffpm.php?action=compose&amp;toid={{ user.ID }}" title="Start a Staff Conversation with {{ user.Username }}">Staff Message</a></li>
        {% endif %}
        <li><a href="inbox.php?action=compose&amp;to={{ user.ID }}" title="Send a Private Message to {{ user.Username }}">Send PM</a></li>
{#
        if (!$FType || $FType != 'friends') {
                $ddlist .= '<li><a href="friends.php?action=add&amp;friendid='.$user->ID.'&amp;auth='.$this->request->user->AuthKey.'" title="Add this user to your friends list">Add to friends</a></li>';
        } elseif ($FType == 'friends') {
                $ddlist .= '<li><a href="friends.php?action=Defriend&amp;friendid='.$user->ID.'&amp;auth='.$this->request->user->AuthKey.'" title="Remove this user from your friends list">Remove friend</a></li>';
        }
        if (!$FType || $FType != 'blocked') {
                $ddlist .= '<li><a href="friends.php?action=add&amp;friendid='.$user->ID.'&amp;type=blocked&amp;auth='.$this->request->user->AuthKey.'" title="Add this user to your blocked list (blocks from sending PMs to you)">Block User</a></li>';
        } elseif ($FType == 'blocked') {
                $ddlist .= '<li><a href="friends.php?action=Unblock&amp;friendid='.$user->ID.'&amp;type=blocked&amp;auth='.$this->request->user->AuthKey.'" title="Remove this user from your blocked list">Remove block</a></li>';
        }
#}
    </ul></div>";
{% endif %}

{% if user.legacy.Donor %}
    <a href="donate.php"><img src="{{ settings.main.static_server }}common/symbols/donor.png" alt="Donor" title="Donor" /></a>
{% endif %}

{% if not (user.legacy.Warned == '0000-00-00 00:00:00' or user.legacy.Warned == false) %}
    <img src="{{ settings.main.static_server }}common/symbols/warned.png" alt="Warned" title=
    {% if check_perms('users_mod') %}
        "Warned for {{ time_diff(user.legacy.Warned,2,false,false) }}"
    {% else %}
        "Warned"
    {% endif %}
     />
{% endif %}

{% if not (user.legacy.Enabled == '1' or user.legacy.Enabled == true)  %}
    {% if user.legacy.Enabled == '0'  %}
        <img src="{{ settings.main.static_server }}common/symbols/unconfirmed.png" alt="Unconfirmed" title="This user has not confirmed their membership" />
    {% else  %}
        <img src="{{ settings.main.static_server }}common/symbols/disabled.png" alt="Banned" title="Be good, and you won't end up like this user" />
    {% endif %}
{% endif %}

{% if user.legacy.GroupPermissionID %}
    {% include 'usergroup.html' %}
{% endif %}
{% if user.legacy.PermissionID and not colorname %}
    {% include 'userclass.html' %}
{% endif %}

{% if user.legacy.Title  %}
    {% if (user.legacy.PermissionID and not colorname) or user.legacy.GroupPermissionID %}
        &nbsp;<span class="user_title">{{ user.legacy.Title }}</span>
    {% else %}
        &nbsp;(<span class="user_title">{{ user.legacy.Title }}</span>
    {% endif %}
{% endif %}

{% if drawInBox %}
    </span>
{% endif %}
