* {
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
}

body {
    font-family: "Bitstream Vera Sans", Tahoma, sans-serif;
    /*font-size: 11px;*/
    /*color: #a5a5a5;*/
    color: #c5c5c5;
    background: radial-gradient(circle, rgba(27,34,94,1) 40%, rgba(12,17,40,1));
}

table {
    font-size: inherit;
    margin: 0px auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.strong {
    font-weight: bold;
}
.stronger {
    font-size: large;
    color: lightblue;
    font-weight: bold;
}
/*
.warning {
    color: white;
    font-weight: bold;
} */
.warning {
    background-color: lightblue;
    padding: 1px 8px;
    font-size: large;
    color: darkred;
    font-weight: bold;
}

a:hover {
    color: white;
}

input[type="text"], input[type="password"] {
    border-radius:3px;
    padding: 2px;
    margin-bottom: 2px;
    margin-top:2px;
}

input[type="text"], input[type="date"] {
    border-radius:3px;
    padding: 2px;
    margin-bottom: 2px;
    margin-top:2px;
}

#username, #password, #email, #identifier {
    width: 100%;
    padding: 5px 0px 1px 0px;
    font-family: "tahoma", "arial", "helvetica", "sans-serif";
    font-size: 12pt;
}

#options {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: left;
}

#options label{
    margin-top: 5px;
    display: block;
}

#options p{
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type="submit"] {
    float:right;
    position:relative;
    top: -5px;
    background: #5579e6;
    background-image: -webkit-linear-gradient(top, #5579e6, #4260b3);
    background-image: -moz-linear-gradient(top, #5579e6, #4260b3);
    background-image: -ms-linear-gradient(top, #5579e6, #4260b3);
    background-image: -o-linear-gradient(top, #5579e6, #4260b3);
    background-image: linear-gradient(to bottom, #5579e6, #4260b3);
    border-radius: 3px;
    color: #c5c5c5;
    padding: 5px 10px 5px 10px;
    border: solid #0c1028 1px;
    text-decoration: none;
}

input[type="submit"]:hover {
    background: #5e89ff;
    background-image: -webkit-linear-gradient(top, #5e89ff, #5e89ff);
    background-image: -moz-linear-gradient(top, #5e89ff, #5e89ff);
    background-image: -ms-linear-gradient(top, #5e89ff, #5e89ff);
    background-image: -o-linear-gradient(top, #5e89ff, #5e89ff);
    background-image: linear-gradient(to bottom, #5e89ff, #5e89ff);
    text-decoration: none;
}

input[type="text"], input[type="password"] {
    font-family: "tahoma", "arial", "helvetica", "sans-serif";
    font-size: 12pt;
    color: #000000;
    width: 100%;
}

input[type="text"]:valid, input[type="password"]:valid {
    border-style: none;
}

input[type="text"]:invalid, input[type="password"]:invalid {
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: solid 2px;
    border-color: red;
}

#head, #foot {
    position: fixed;
    left: 0;
    height: 6%;
    min-height: 25px;
    width: 100%;
    background-color: #161d29;
    overflow: hidden;
}

#head {
    top: 0;
}

#foot {
    bottom: 0;
    text-align: center;
}

#foot > span,#head > span {
    top: 35%;
    position: relative;
    padding: 20px;
}

#foot > span {
    color: #393939;
}

#maincontent {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 80px;
    width: auto;
    text-align: center;
    padding: 0px 0px 50px 0px;
}

#logo .svg {
    height: 100%;
    margin: auto;
    /*
     * Drop shadow extends past the bounding box
     * of the image, so best to make it part of
     * the CSS instead. SVG FTW
     */
    -webkit-filter: drop-shadow( -5px 5px 5px #000 );
            filter: drop-shadow( -5px 5px 5px #000 );
}

#motto {
    padding: 0px 0px 25px 0px;
    font-weight: bold;
}

#menu ul {
    /*margin: 0 auto;*/
    font-weight: bold;
    /*font-size: 14pt; */
    padding: 0px 0px 25px 0px;
}

#menu ul li {
    display: inline;
    margin: 0 0.5em 0 0.5em;
    list-style: none;
}

.motto {
    width: 320px;
    text-align: justify;
}

.hidden {
    display: none;
}

.info {
    color: green;
    font-weight: bold;
}

.password {
    -webkit-text-security: disc;
}

/*
.important {
    color:red;
    background-color: rgba(255, 255, 255, 0.12);
    width:300px;
}
*/

.important {
    margin: auto;
    font-weight: bold;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.12);
    width: 600px;
    border-radius: 5px;
    padding: 10px;
}

.important h2 {
    color: #AA0000;
    font-size: 2.5em;
    text-shadow: -1px -1px 0 #000,
                  1px -1px 0 #000,
                 -1px  1px 0 #000,
                  1px  1px 0 #000;
}

.important h2, .important a {
    font-size: 2em;
}

.important a:hover {
    color: white;
}

.underline {
    text-decoration: underline;
}

.center {
    min-width: 300px;
    text-align: center;
    margin: auto;
    display: inline-block;
}

.pad {
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.flex_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex_item {
    margin: auto;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.full_width {
    width: 80vw;
    margin: auto;
    overflow-x: hidden;
}
