{% extends "page.html" %}

{% block title %}Security settings for {{ user.Username }}{% endblock %}

{% block main_content %}
    <div>
        <div class="head">Change password</div>
        <div class="box">
            <form action="/users/recover" method="POST">
                <div>
                <input type="hidden" name="token" value="{{ token }}" />
                <input type="password" name="password" placeholder="Enter new password" autofocus/><br/>
                <input type="password" name="check_password" placeholder="Enter new password again" /><br/>
                </div>
                <div id="options">
                    <input type="submit" name="submit" value="Submit" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}
