{% extends "base.html" %}

{% block body_id %}userhistory{% endblock %}

{% block title %}Test User History{% endblock %}

{% block content %}
<div class="thin">
    <h2>{{ block('title') }}</h2>
    <div class="linkbox"></div>
        <div class="head">Results: {{ SessionCount }}</div>
            <table>
            <tr class="colhead">
                <td style="width: 20%">IP Address</td>
                <td style="width: 20%">Started</td>
                <td>Ended</td>
            </tr>
            {% for Session in Sessions %}
            <tr class="rowa">
                <td>{{ Session.ID }}</td>
                <td>{{ Session.Created.format('Y-m-d H:i:s') }}</td>
                <td>Soon</td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
