{% extends "core/page.html.twig" %}
{% block hibp_scripts %}
    {% if (master.options.HaveIBeenPwned) %}
        <script src="/static/functions/jquery.js" type="text/javascript"></script>
        <script src="/static/functions/hibp/sha1.js" type="text/javascript"></script>
        <script src="/static/functions/hibp/hibp.js" type="text/javascript"></script>
        <script type="text/javascript">
            sendSelector = 'input[type=submit][name=submit][value=Submit]';
        </script>
    {% endif %}
{% endblock %}
{% block title %}Password reset for {{ user.Username }}{% endblock %}

{% block main_content %}
    <div>
        <div class="head">Change password</div>
        <div class="box">
            <form action="/users/recover" method="POST">
                <div>
                <input type="hidden" name="token" value="{{ token }}" />
                <input type="password" name="password" placeholder="Enter new password" autofocus/><br/>
                <input type="password" name="check_password" placeholder="Enter new password again" /><br/>
                    <p id="password-help" class="hidden"></p>
                </div>
                <div id="options">
                    {% if (master.options.HaveIBeenPwned) %}
                        <input type="submit" name="submit" value="Submit" disabled class="disabled" />
                        <input type="submit" name="submit" value="Check" class="hidden" onclick="event.preventDefault();return haveibeenpwned();" />
                    {% else %}
                        <input type="submit" name="submit" value="Submit" />
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
