{% extends "core/private_page.html.twig" %}

{% block title %}
    Torrent Data
{% endblock %}

{% block main_content %}
    <div class="head">Torrent Data</div>
    <div class="box pad">
        <pre>{{ data }}</pre>
    </div>
{% endblock %}
