{% extends "core/public_page.html.twig" %}
{% block scripts %}
    {{ parent() }}
    <script defer src="/static/functions/cinfo.js" type="text/javascript"></script>
{% endblock %}

{% block title %}
    Login
{% endblock %}

{% block main_content %}
    <form method="POST" action="/login" class="hidden left_column center" id='login_form'>
        <input type="hidden" name="token" value="{{ secretary.getToken("user.login") }}" />
        <div id="username">
            <input class="text-input" type="text" name="username" placeholder="Username" autofocus/>
        </div>
        <div id="password">
            <input class="text-input" type="password" name="password" placeholder="Password" />
        </div>
        <div class="center">
            <div id="options">
                <input type="hidden" name="cinfo" value="auth" id="cinfo" />
                <label for="iplocked"><input id="iplocked" type="checkbox" name="iplocked" value="1" /> Lock this session to my IP address</label>
                <label for="keeploggedin"><input id="keeploggedin" type="checkbox" name="keeploggedin" value="1" /> Stay logged in</label>
                <p>
                      <span><a href="/user/recover">forgotten password</a></span>
                      <input id="login_button" type="submit" name="submit" value="login" />
                </p>
            </div>
        </div>
    </form>
    <script>
        <!--
            document.getElementById("login_form").classList.remove("hidden");
        //-->
    </script>
    <noscript>JavaScipt support is required.</noscript>
{% endblock %}
