{% extends "core/public_page.html.twig" %}

{% block motto_content %}
    <div id="motto" class="flex_item">
        <span class="center">{{ settings.main.site_motto }}</span>
    </div>
{% endblock %}
