<div id="forum_jump" class="linkbox">
    <span style="text-align:right;">
        <form action="/forum/goto" method="post">
            Forum Jump:&nbsp;
                {{ render.forumSelect(forum.ID) }}
            <input type="submit" value="Go" />
        </form>
    </span>
</div>
