{% if options.useSpan == false %}
    {{ class.Name|striptags|raw }}
{% else %}
    (<span alt="{{ class.ID }}" class="rank" style="color:#{{ class.Color }}">{{ class.Name|striptags|raw }}</span>)
{% endif %}
